<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/products/add" method="post" th:object="${product}">
    <input th:field="*{name}" placeholder="name"><br><br>
    <input th:field="*{price}" placeholder="price"><br><br>
    <input th:field="*{img}" placeholder="path img"><br><br>
    <select name="idCategory">
        <option th:each="c : ${categories}" th:value="${c.getId()}" th:text="${c.getName()}"></option>
    </select>
    <button type="submit">Add</button>
</form>
</body>
</html>