<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="display: flex; justify-content: center; align-items: center;flex-direction: column;">
<div>
    <h1>EDIT NEWS</h1><br>
</div>
<form action="/news/edit" method="post" th:object="${news}"
      style="display: flex; justify-content: center; align-items: center;flex-direction: column;">
    <input th:field="*{idNews}" type="hidden">
    <textarea th:field="*{title}" placeholder="title" rows="5" cols="50"></textarea><br><br>
    <textarea th:field="*{content}" placeholder="content" rows="7" cols="50"></textarea><br><br>
    <textarea th:field="*{img}" name="img" id="link" onchange="checkImage();" placeholder="path img" rows="5"
              cols="50"></textarea><br><br>
    <div>
        <img src="" alt="" id="image" style="width: 200px" height="200px">
    </div>
    <br>
    <select name="idCategory" style="width: 145px; height: 45px; text-align: center;">
        <option th:each="c : ${categories}" th:value="${c.idCategory}" th:text="${c.name}"></option>
    </select><br>
    <br>
    <div>
        <button type="submit" style="width: 115px;height: 38px;">EDIT</button>
    </div>
</form>
</body>
</html>
<script>
    let checkImage = function () {
        document.getElementById("image").src = document.getElementById("link").value;
    }
</script>